In [28]:
database=[]

In [29]:
summ = 0

In [30]:
for dictionary in range(10):
    dic = {
        "first name" : input("Enter your first name "),
        "last name"  : input("Enter your last name "),
        "age"        : int(input("Enter your age ")),
        "uid"        : int(input("Enter your user id ")),
        "education"  : input("Enter your education "),
    }
    summ = summ + dictionary
    database.append(dic)

Enter your first name Hunain
Enter your last name Irfan
Enter your age 20
Enter your user id 3201
Enter your education Alevels
Enter your first name Hamza
Enter your last name Irfan
Enter your age 16
Enter your user id 3202
Enter your education Olevels
Enter your first name Hassan
Enter your last name Imran
Enter your age 25
Enter your user id 3203
Enter your education University
Enter your first name Ali
Enter your last name Rafiq
Enter your age 30
Enter your user id 3203
Enter your education Intermediate
Enter your first name Furqan
Enter your last name Fazil
Enter your age 40
Enter your user id 3205
Enter your education Matric
Enter your first name Fatima
Enter your last name Rizwan
Enter your age 16
Enter your user id 3206
Enter your education Olevels
Enter your first name Zulekha
Enter your last name Irfan
Enter your age 18
Enter your user id 3207
Enter your education Alevels
Enter your first name Amin
Enter your last name Majeed
Enter your age 35
Enter your user id 3208
Enter your education Matric
Enter your first name Rahim
Enter your last name Javed
Enter your age 24
Enter your user id 3209
Enter your education University
Enter your first name Younus
Enter your last name Javed
Enter your age 32
Enter your user id 3210
Enter your education University

In [31]:
database

[{'first name': 'Hunain',
  'last name': 'Irfan',
  'age': 20,
  'uid': 3201,
  'education': 'Alevels'},
 {'first name': 'Hamza',
  'last name': 'Irfan',
  'age': 16,
  'uid': 3202,
  'education': 'Olevels'},
 {'first name': 'Hassan ',
  'last name': 'Imran',
  'age': 25,
  'uid': 3203,
  'education': 'University'},
 {'first name': 'Ali',
  'last name': 'Rafiq',
  'age': 30,
  'uid': 3203,
  'education': 'Intermediate'},
 {'first name': 'Furqan',
  'last name': 'Fazil',
  'age': 40,
  'uid': 3205,
  'education': 'Matric'},
 {'first name': 'Fatima',
  'last name': 'Rizwan',
  'age': 16,
  'uid': 3206,
  'education': 'Olevels'},
 {'first name': 'Zulekha',
  'last name': 'Irfan',
  'age': 18,
  'uid': 3207,
  'education': 'Alevels'},
 {'first name': 'Amin',
  'last name': 'Majeed',
  'age': 35,
  'uid': 3208,
  'education': 'Matric'},
 {'first name': 'Rahim',
  'last name': 'Javed',
  'age': 24,
  'uid': 3209,
  'education': 'University'},
 {'first name': 'Younus',
  'last name': 'Javed',
  'age': 32,
  'uid': 3210,
  'education': 'University'}]

In [32]:
deleted_element = database.pop(3)

In [33]:
print(deleted_element)

{'first name': 'Ali', 'last name': 'Rafiq', 'age': 30, 'uid': 3203, 'education': 'Intermediate'}

In [34]:
student ={
    "first name": "Zain",
    "last name" : "Noman",
    "age"      : 16,
    "uid"      : 3204,
    "education": "Matric",
}

In [35]:
student

{'first name': 'Zain',
 'last name': 'Noman',
 'age': 16,
 'uid': 3204,
 'education': 'Matric'}

In [36]:
database.insert(3,student)

In [37]:
database

[{'first name': 'Hunain',
  'last name': 'Irfan',
  'age': 20,
  'uid': 3201,
  'education': 'Alevels'},
 {'first name': 'Hamza',
  'last name': 'Irfan',
  'age': 16,
  'uid': 3202,
  'education': 'Olevels'},
 {'first name': 'Hassan ',
  'last name': 'Imran',
  'age': 25,
  'uid': 3203,
  'education': 'University'},
 {'first name': 'Zain',
  'last name': 'Noman',
  'age': 16,
  'uid': 3204,
  'education': 'Matric'},
 {'first name': 'Furqan',
  'last name': 'Fazil',
  'age': 40,
  'uid': 3205,
  'education': 'Matric'},
 {'first name': 'Fatima',
  'last name': 'Rizwan',
  'age': 16,
  'uid': 3206,
  'education': 'Olevels'},
 {'first name': 'Zulekha',
  'last name': 'Irfan',
  'age': 18,
  'uid': 3207,
  'education': 'Alevels'},
 {'first name': 'Amin',
  'last name': 'Majeed',
  'age': 35,
  'uid': 3208,
  'education': 'Matric'},
 {'first name': 'Rahim',
  'last name': 'Javed',
  'age': 24,
  'uid': 3209,
  'education': 'University'},
 {'first name': 'Younus',
  'last name': 'Javed',
  'age': 32,
  'uid': 3210,
  'education': 'University'}]

In [38]:
for dictionaryy in database:
    if dictionaryy["age"] < 18:
        print(dictionaryy)

{'first name': 'Hamza', 'last name': 'Irfan', 'age': 16, 'uid': 3202, 'education': 'Olevels'}
{'first name': 'Zain', 'last name': 'Noman', 'age': 16, 'uid': 3204, 'education': 'Matric'}
{'first name': 'Fatima', 'last name': 'Rizwan', 'age': 16, 'uid': 3206, 'education': 'Olevels'}

In [39]:
for dictionaryy in database:
    if dictionaryy["education"] == "Alevels":
        print(dictionaryy)

{'first name': 'Hunain', 'last name': 'Irfan', 'age': 20, 'uid': 3201, 'education': 'Alevels'}
{'first name': 'Zulekha', 'last name': 'Irfan', 'age': 18, 'uid': 3207, 'education': 'Alevels'}

In [46]:
database

[{'first name': 'Hunain',
  'last name': 'Irfan',
  'age': 20,
  'uid': 3201,
  'education': 'Alevels'},
 {'first name': 'Hamza',
  'last name': 'Irfan',
  'age': 16,
  'uid': 3202,
  'education': 'Olevels'},
 {'first name': 'Hassan ',
  'last name': 'Imran',
  'age': 25,
  'uid': 3203,
  'education': 'University'},
 {'first name': 'Zain',
  'last name': 'Noman',
  'age': 16,
  'uid': 3204,
  'education': 'Matric'},
 {'first name': 'Furqan',
  'last name': 'Fazil',
  'age': 40,
  'uid': 3205,
  'education': 'Matric'},
 {'first name': 'Fatima',
  'last name': 'Rizwan',
  'age': 16,
  'uid': 3206,
  'education': 'Olevels'},
 {'first name': 'Zulekha',
  'last name': 'Irfan',
  'age': 18,
  'uid': 3207,
  'education': 'Alevels'},
 {'first name': 'Amin',
  'last name': 'Majeed',
  'age': 35,
  'uid': 3208,
  'education': 'Matric'},
 {'first name': 'Rahim',
  'last name': 'Javed',
  'age': 24,
  'uid': 3209,
  'education': 'University'},
 {'first name': 'Younus',
  'last name': 'Javed',
  'age': 32,
  'uid': 3210,
  'education': 'University'}]

In [56]:
for dictionaryy in database:
    if dictionaryy["education"] != "Alevels":
        print(dictionaryy)

{'first name': 'Hamza', 'last name': 'Irfan', 'age': 16, 'uid': 3202, 'education': 'Olevels'}
{'first name': 'Hassan ', 'last name': 'Imran', 'age': 25, 'uid': 3203, 'education': 'University'}
{'first name': 'Zain', 'last name': 'Noman', 'age': 16, 'uid': 3204, 'education': 'Matric'}
{'first name': 'Furqan', 'last name': 'Fazil', 'age': 40, 'uid': 3205, 'education': 'Matric'}
{'first name': 'Fatima', 'last name': 'Rizwan', 'age': 16, 'uid': 3206, 'education': 'Olevels'}
{'first name': 'Amin', 'last name': 'Majeed', 'age': 35, 'uid': 3208, 'education': 'Matric'}
{'first name': 'Rahim', 'last name': 'Javed', 'age': 24, 'uid': 3209, 'education': 'University'}
{'first name': 'Younus', 'last name': 'Javed', 'age': 32, 'uid': 3210, 'education': 'University'}

In [81]:
for i in database:
    for j in i.values():
        print(j)

Hunain
Irfan
20
3201
Alevels
Hamza
Irfan
16
3202
Olevels
Hassan
Imran
25
3203
University
Zain
Noman
16
3204
Matric
Furqan
Fazil
40
3205
Matric
Fatima
Rizwan
16
3206
Olevels
Zulekha
Irfan
18
3207
Alevels
Amin
Majeed
35
3208
Matric
Rahim
Javed
24
3209
University
Younus
Javed
32
3210
University

In [69]:
for i in database:
    for j in i.keys():
        print(j)

first name
last name
age
uid
education
first name
last name
age
uid
education
first name
last name
age
uid
education
first name
last name
age
uid
education
first name
last name
age
uid
education
first name
last name
age
uid
education
first name
last name
age
uid
education
first name
last name
age
uid
education
first name
last name
age
uid
education
first name
last name
age
uid
education

In [82]:
for i in database:
    for j in i.items():
        print(j)

('first name', 'Hunain')
('last name', 'Irfan')
('age', 20)
('uid', 3201)
('education', 'Alevels')
('first name', 'Hamza')
('last name', 'Irfan')
('age', 16)
('uid', 3202)
('education', 'Olevels')
('first name', 'Hassan ')
('last name', 'Imran')
('age', 25)
('uid', 3203)
('education', 'University')
('first name', 'Zain')
('last name', 'Noman')
('age', 16)
('uid', 3204)
('education', 'Matric')
('first name', 'Furqan')
('last name', 'Fazil')
('age', 40)
('uid', 3205)
('education', 'Matric')
('first name', 'Fatima')
('last name', 'Rizwan')
('age', 16)
('uid', 3206)
('education', 'Olevels')
('first name', 'Zulekha')
('last name', 'Irfan')
('age', 18)
('uid', 3207)
('education', 'Alevels')
('first name', 'Amin')
('last name', 'Majeed')
('age', 35)
('uid', 3208)
('education', 'Matric')
('first name', 'Rahim')
('last name', 'Javed')
('age', 24)
('uid', 3209)
('education', 'University')
('first name', 'Younus')
('last name', 'Javed')
('age', 32)
('uid', 3210)
('education', 'University')

In [83]:
for i in database:
    for j,l in i.items():
        print(str(j)+" = " + str(l))

first name = Hunain
last name = Irfan
age = 20
uid = 3201
education = Alevels
first name = Hamza
last name = Irfan
age = 16
uid = 3202
education = Olevels
first name = Hassan
last name = Imran
age = 25
uid = 3203
education = University
first name = Zain
last name = Noman
age = 16
uid = 3204
education = Matric
first name = Furqan
last name = Fazil
age = 40
uid = 3205
education = Matric
first name = Fatima
last name = Rizwan
age = 16
uid = 3206
education = Olevels
first name = Zulekha
last name = Irfan
age = 18
uid = 3207
education = Alevels
first name = Amin
last name = Majeed
age = 35
uid = 3208
education = Matric
first name = Rahim
last name = Javed
age = 24
uid = 3209
education = University
first name = Younus
last name = Javed
age = 32
uid = 3210
education = University