# Class_8

## dictionary that contain list

In [ ]:
student = {
    "name" : "Hunain",
    "age"  : "20",
    "institute" : "Verge",
    "subject"   : ["Maths","Science","English","Urdu"]
}

In [ ]:
student

In [ ]:
student["subject"]

In [ ]:
student["subject"][2]

## dictionary that contains a dictionary

In [ ]:
database = {
    "salman":{
        "name" : "salman",
        "age"  : 23,
        "subject" : ["Maths","English","Urdu"]
    },
    
    
    "hunain":{
        "name" : "hunain",
        "age"  : 20,
        "subject" :["Maths","English","Urdu"]
    }
}

In [ ]:
database["salman"]

In [ ]:
database["hunain"]

In [ ]:
database["hunain"]["subject"][0]

In [ ]:
database["salman"]["subject"][2]

In [ ]:
for i in database.items():
    print(i)

In [ ]:
for j in database.values():
    print(j)

In [ ]:
for a in database.keys():
    print(a)

In [ ]:
for b in database.items():
    print(b)

## Functions

In [ ]:
def add_number():
    first_number = int(input("Enter first number "))
    second_number = int(input("Enter second number "))
    total = first_number + second_number
    print(total)

In [ ]:
add_number()

In [ ]:
add_number()

In [11]:
def multiply_number():
    num = int(input("Enter number "))
    for i in range(1,11):
        print(str(num) + " * " + str(i) + " = " + str(i * num))

In [12]:
multiply_number()

Enter number 2
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

In [23]:
def divide_num(num1 = 8,num2 = 2):
    answer = num1 / num2
    print(answer)

In [24]:
divide_num()

4.0

In [25]:
def divide_num(num1,num2):
    answer = num1 / num2
    print(answer)

In [26]:
divide_num(50,10)

5.0

In [35]:
def divide_num(num1 ,num2):
    answer = num1 / num2
    print(answer)

In [37]:
divide_num(int(input("Enter num1 ")), int(input("Enter num2 ")))

Enter num1 5
Enter num2 2
2.5

In [41]:
def divide_num(num1 = int(input("Enter num1 ")) ,num2 = int(input("Enter num1 "))):
    answer = num1 / num2
    print(answer)

Enter num1 55
Enter num1 5

In [42]:
divide_num()

11.0