In [4]:
dataList = {
    "first name" : "Hunain",
    "last name"  : "Irfan",
    "age": 20,
}

In [5]:
print(dataList)

{'first name': 'Hunain', 'last name': 'Irfan', 'age': 20}

In [10]:
dataList["designation"] = "Tutor"

In [11]:
print(dataList)

{'first name': 'Hunain', 'last name': 'Irfan', 'age': 20, 'designation': 'Tutor'}

In [12]:
del dataList["designation"]

In [13]:
print(dataList)

{'first name': 'Hunain', 'last name': 'Irfan', 'age': 20}

In [14]:
#dictionaries

In [16]:
student = {
    "first name" : "Hunain",
    "last name" : "Irfan",
    "age"    :         20,
    "designation" : "Business Owner",
    "institute" : "Dhoraji",
}

In [17]:
student["first name"]

'Hunain'

In [18]:
student["last name"]

'Irfan'

In [19]:
student["age"]

20

In [20]:
student["designation"]

'Business Owner'

In [21]:
student["institute"]

'Dhoraji'

In [29]:
#looping to get keys and values

In [30]:
for i in student.values():
    print(i)

Hunain
Irfan
20
Business Owner
Dhoraji

In [31]:
for j in student.keys():
    print(j)

first name
last name
age
designation
institute

In [32]:
#looping through items

In [33]:
student.items()

dict_items([('first name', 'Hunain'), ('last name', 'Irfan'), ('age', 20), ('designation', 'Business Owner'), ('institute', 'Dhoraji')])

In [40]:
for key,value in student.items():
    print(key,value)

first name Hunain
last name Irfan
age 20
designation Business Owner
institute Dhoraji

In [41]:
for key,value in student.items():
    print(str(key) +  " : " + str(value))

first name : Hunain
last name : Irfan
age : 20
designation : Business Owner
institute : Dhoraji

In [42]:
#list of dictionaries

In [80]:
database = [
    {
        "first name" : "Hamza",
        "last name" : "Irfan",
        "age"     : 17,
        "designation": "Job",
        "uid" : 1,
    },
    
    {
        "first name" : "Irfan",
        "last name" : "Iqbal",
        "age"     : 40,
        "designation": "Business",
        "uid" : 2,
    },
    
    {
        "first name" : "Rahim",
        "last name" : "Javed",
        "age"     : 24,
        "designation": "Job",
        "uid" : 3,
    },
    
    {
        "first name" : "Hasnain",
        "last name" : "Hanif",
        "age"     : 23,
        "designation": "Job",
        "uid" : 4,
    },
    
    {
        "first name" : "Younus",
        "last name" : "Javed",
        "age"     : 20,
        "designation": "Job",
        "uid" : 5,
    }
]

In [81]:
database

[{'first name': 'Hamza',
  'last name': 'Irfan',
  'age': 17,
  'designation': 'Job',
  'uid': 1},
 {'first name': 'Irfan',
  'last name': 'Iqbal',
  'age': 40,
  'designation': 'Business',
  'uid': 2},
 {'first name': 'Rahim',
  'last name': 'Javed',
  'age': 24,
  'designation': 'Job',
  'uid': 3},
 {'first name': 'Hasnain',
  'last name': 'Hanif',
  'age': 23,
  'designation': 'Job',
  'uid': 4},
 {'first name': 'Younus',
  'last name': 'Javed',
  'age': 20,
  'designation': 'Job',
  'uid': 5}]

In [82]:
for single_dictionary in database:
    if single_dictionary["last name"] == "Javed":
        print(single_dictionary)

{'first name': 'Rahim', 'last name': 'Javed', 'age': 24, 'designation': 'Job', 'uid': 3}
{'first name': 'Younus', 'last name': 'Javed', 'age': 20, 'designation': 'Job', 'uid': 5}

In [83]:
uid = int(input("Enter uid "))

Enter uid 4

In [84]:
for single_dictionary in database:
    if single_dictionary["uid"] == uid:
        print(single_dictionary)

{'first name': 'Hasnain', 'last name': 'Hanif', 'age': 23, 'designation': 'Job', 'uid': 4}

In [107]:
age = int(input("Enter user age "))

Enter user age 6

In [108]:
for single_dictionary in database:
    if single_dictionary["age"] >= age:
        print(single_dictionary)

{'first name': 'Hamza', 'last name': 'Irfan', 'age': 17, 'designation': 'Job', 'uid': 1}
{'first name': 'Irfan', 'last name': 'Iqbal', 'age': 40, 'designation': 'Business', 'uid': 2}
{'first name': 'Rahim', 'last name': 'Javed', 'age': 24, 'designation': 'Job', 'uid': 3}
{'first name': 'Hasnain', 'last name': 'Hanif', 'age': 23, 'designation': 'Job', 'uid': 4}
{'first name': 'Younus', 'last name': 'Javed', 'age': 20, 'designation': 'Job', 'uid': 5}

In [115]:
designation = input("Enter designation ")

Enter designation Job

In [116]:
for single_dictionary in database:
    if single_dictionary["designation"] == designation:
        print(single_dictionary)

{'first name': 'Hamza', 'last name': 'Irfan', 'age': 17, 'designation': 'Job', 'uid': 1}
{'first name': 'Rahim', 'last name': 'Javed', 'age': 24, 'designation': 'Job', 'uid': 3}
{'first name': 'Hasnain', 'last name': 'Hanif', 'age': 23, 'designation': 'Job', 'uid': 4}
{'first name': 'Younus', 'last name': 'Javed', 'age': 20, 'designation': 'Job', 'uid': 5}

In [117]:
#appending data in list of dictionaries

In [118]:
appandingStudent = {
    "first name" : "Eshal",
    "last name" : "Irfan",
    "age"   : 8,
    "designation" : "Student",
    "uid" : 6,
}

In [119]:
database.append(appandingStudent)

In [121]:
database

[{'first name': 'Hamza',
  'last name': 'Irfan',
  'age': 17,
  'designation': 'Job',
  'uid': 1},
 {'first name': 'Irfan',
  'last name': 'Iqbal',
  'age': 40,
  'designation': 'Business',
  'uid': 2},
 {'first name': 'Rahim',
  'last name': 'Javed',
  'age': 24,
  'designation': 'Job',
  'uid': 3},
 {'first name': 'Hasnain',
  'last name': 'Hanif',
  'age': 23,
  'designation': 'Job',
  'uid': 4},
 {'first name': 'Younus',
  'last name': 'Javed',
  'age': 20,
  'designation': 'Job',
  'uid': 5},
 {'first name': 'Eshal',
  'last name': 'Irfan',
  'age': 8,
  'designation': 'Student',
  'uid': 6}]

In [141]:
#assignment 3

In [178]:
dic = []

In [192]:
student ={
    "first name" : input("Enter first name "),
    "last name" : input("Enter last name "),
    "age" : int(input("Enter age  ")),
    "designation" : input("Enter designation "),
}
dic.append(student)

Enter first name Haroon
Enter last name Jummani
Enter age  16
Enter designation Student

In [193]:
dic

[{'first name': 'Hunain',
  'last name': 'Irfan',
  'age': 20,
  'designation': 'Business'},
 {'first name': 'Hammad',
  'last name': 'Irfan',
  'age': 18,
  'designation': 'Student'},
 {'first name': 'Ali',
  'last name': 'Rafique',
  'age': 23,
  'designation': 'Job'},
 {'first name': 'Haroon',
  'last name': 'Jummani',
  'age': 16,
  'designation': 'Student'}]

In [194]:
for dictionaryy in dic:
    if dictionaryy["designation"] == "Business":
        print(dictionaryy)

{'first name': 'Hunain', 'last name': 'Irfan', 'age': 20, 'designation': 'Business'}

In [195]:
for dictionaryy in dic:
    if dictionaryy["age"] >= 18:
        print(dictionaryy)

{'first name': 'Hunain', 'last name': 'Irfan', 'age': 20, 'designation': 'Business'}
{'first name': 'Hammad', 'last name': 'Irfan', 'age': 18, 'designation': 'Student'}
{'first name': 'Ali', 'last name': 'Rafique', 'age': 23, 'designation': 'Job'}

In [196]:

for dictionaryy in dic:
    if dictionaryy["designation"] == "Student":
        print(dictionaryy)

{'first name': 'Hammad', 'last name': 'Irfan', 'age': 18, 'designation': 'Student'}
{'first name': 'Haroon', 'last name': 'Jummani', 'age': 16, 'designation': 'Student'}