In [2]:
city = ["karachi","islamabad","peshawar","rawalpindi"]

In [3]:
print(city)

['karachi', 'islamabad', 'peshawar', 'rawalpindi']

In [4]:
city.append("murree")

In [5]:
print(city)

['karachi', 'islamabad', 'peshawar', 'rawalpindi', 'murree']

In [10]:
city.insert(2,"swat")

In [11]:
print(city)

['karachi', 'islamabad', 'swat', 'peshawar', 'rawalpindi', 'murree']

In [17]:
city.remove('peshawar')

In [18]:
print(city)

['karachi', 'islamabad', 'swat', 'rawalpindi', 'murree']

In [19]:
del city[0]

In [20]:
print(city)

['islamabad', 'swat', 'rawalpindi', 'murree']

In [21]:
city.append("karachi")

In [22]:
print(city)

['islamabad', 'swat', 'rawalpindi', 'murree', 'karachi']

In [23]:
deleted_element = city.pop(2)

In [24]:
print(deleted_element)

rawalpindi

In [25]:
print(city)

['islamabad', 'swat', 'murree', 'karachi']

In [26]:
sliced = city[0:2]

In [27]:
print(sliced)

['islamabad', 'swat']

In [28]:
print(city)

['islamabad', 'swat', 'murree', 'karachi']

In [37]:
cities = []

In [47]:

cityName = input("Enter cityName")
cities.append(cityName)
print(cities)

Enter cityNameNewzealand
['Pakistan', 'India', 'Bangladesh', 'England', 'Australia', 'Newzealand']

In [44]:
print(cities)

['Pakistan', 'India', 'Bangladesh', 'England', 'Australia', 'Newzealand]']

In [45]:
cities.remove("Newzealand]")

In [48]:
print(cities)

['Pakistan', 'India', 'Bangladesh', 'England', 'Australia', 'Newzealand']

In [49]:
citySliced = cities[0:2]

In [50]:
print(citySliced)

['Pakistan', 'India']

In [51]:
cities = ["Karachi","Islamabad","Swat","Quetta"]

In [54]:
cleanestCity = input("Enter cleanest CITY ")

Enter cleanest CITY Quetta

In [55]:
for i in cities:
    if cleanestCity == i:
        print("Yes this city is clean")

Yes this city is clean

In [57]:
firstName = ["Hunain","Hamza","Ali","Usman","Abubakar","Umar"]

In [59]:
secondName = ["Irfan","Imran","Rafiq","Naseem"]

In [61]:
for i in firstName:
    for j in secondName:
        print(i,j)

Hunain Irfan
Hunain Imran
Hunain Rafiq
Hunain Naseem
Hamza Irfan
Hamza Imran
Hamza Rafiq
Hamza Naseem
Ali Irfan
Ali Imran
Ali Rafiq
Ali Naseem
Usman Irfan
Usman Imran
Usman Rafiq
Usman Naseem
Abubakar Irfan
Abubakar Imran
Abubakar Rafiq
Abubakar Naseem
Umar Irfan
Umar Imran
Umar Rafiq
Umar Naseem

In [79]:
cost = 200
selling_price = [500,700,600,800,900,300]
total_profit = []

In [80]:
for price in selling_price:
    profit = price - cost
    total_profit.append(profit)

In [81]:
total_profit

[300, 500, 400, 600, 700, 100]

In [82]:
sum(total_profit)

2600

In [93]:
for i in range(1,11):
   
    print("2 *"+ " " + str(i) + " = " + str(i * 2))

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

In [94]:
name = "dhoraji"

In [95]:
name.upper()

'DHORAJI'

In [96]:
name.lower()

'dhoraji'

In [97]:
name.title()

'Dhoraji'

In [98]:
#DICTIONARIES

In [99]:
info = {
    "first name" : "Hunain",
    "last name" : "Irfan",
    "user age" : 20,
}

In [100]:
firstName =info["first name"]

In [101]:
print(firstName)

Hunain

In [102]:
lastName = info["last name"]

In [103]:
print(lastName)

Irfan

In [104]:
userAge = info["user age"]

In [105]:
print(userAge)

20

In [107]:
print(firstName+" " + lastName+ " " + str(userAge))

Hunain Irfan 20

In [110]:
info = {
    "first name" : "Hunain",
    "last name" : "Irfan",
    "user age" : 20,
}

In [111]:
info["designation"] = "ARCHEITECT"

In [113]:
info

{'first name': 'Hunain',
 'last name': 'Irfan',
 'user age': 20,
 'designation': 'ARCHEITECT'}

In [114]:
designation = info["designation"]

In [115]:
print(firstName+" " + lastName+ " " + str(userAge) + " " + designation )

Hunain Irfan 20 ARCHEITECT

In [116]:
del info["designation"]

In [117]:
info

{'first name': 'Hunain', 'last name': 'Irfan', 'user age': 20}

In [136]:
maths = int(input("Enter Maths Marks"))

Enter Maths Marks80

In [ ]:
english = int(input("Enter english marks"))

In [122]:
urdu =int(input("Enter urdu marks"))

Enter urdu marks50

In [123]:
science = int(input("Enter science marks"))

Enter science marks56

In [124]:
geography = int(input("Enter geography marks"))

Enter geography marks70

In [129]:
total_marks = 500

In [131]:
totalMarksObtained = maths + english + urdu + science + geography

In [133]:
percentage = (totalMarksObtained / total_marks) * 100

In [135]:
if percentage > 80:
    print("A+")
if percentage < 80 and percentage > 70:
    print("B+")