In [38]:
database = []

In [39]:
summ = 0

In [40]:
for i in range(10):
    dict = {
        "first name" : input("Enter your name "),
        "last name" : input("Enter your name "),
        "age"      : int(input("Enter your age ")),
        "uid"     : int(input("Enter your user id ")),
        "Education" : input("Enter your education level "),
    }
    summ = summ + i
    database.append(dict)

Enter your name Hunain
Enter your name Irfan
Enter your age 20
Enter your user id 3201
Enter your education level Alevels
Enter your name Hassan
Enter your name Imran
Enter your age 23
Enter your user id 3202
Enter your education level Alevels
Enter your name Zain
Enter your name Noman
Enter your age 21
Enter your user id 3203
Enter your education level University
Enter your name Hamza
Enter your name Babar
Enter your age 24
Enter your user id 3204
Enter your education level University
Enter your name Muneeb
Enter your name Akber
Enter your age 19
Enter your user id 3205
Enter your education level Intermediate
Enter your name Hamza
Enter your name Anis
Enter your age 24
Enter your user id 3206
Enter your education level Alevels
Enter your name Khizer
Enter your name Sohail
Enter your age 27
Enter your user id 3207
Enter your education level University
Enter your name Ahmed
Enter your name Naeem
Enter your age 24
Enter your user id 3208
Enter your education level Intermediate
Enter your name Usama
Enter your name Irfan
Enter your age 28
Enter your user id 3209
Enter your education level Alevels
Enter your name Hammad
Enter your name Imran
Enter your age 29
Enter your user id 3210
Enter your education level University

In [41]:
database

[{'first name': 'Hunain',
  'last name': 'Irfan',
  'age': 20,
  'uid': 3201,
  'Education': 'Alevels'},
 {'first name': 'Hassan',
  'last name': 'Imran',
  'age': 23,
  'uid': 3202,
  'Education': 'Alevels'},
 {'first name': 'Zain ',
  'last name': 'Noman',
  'age': 21,
  'uid': 3203,
  'Education': 'University'},
 {'first name': 'Hamza',
  'last name': 'Babar',
  'age': 24,
  'uid': 3204,
  'Education': 'University'},
 {'first name': 'Muneeb',
  'last name': 'Akber',
  'age': 19,
  'uid': 3205,
  'Education': 'Intermediate'},
 {'first name': 'Hamza',
  'last name': 'Anis',
  'age': 24,
  'uid': 3206,
  'Education': 'Alevels'},
 {'first name': 'Khizer',
  'last name': 'Sohail',
  'age': 27,
  'uid': 3207,
  'Education': 'University'},
 {'first name': 'Ahmed',
  'last name': 'Naeem',
  'age': 24,
  'uid': 3208,
  'Education': 'Intermediate'},
 {'first name': 'Usama',
  'last name': 'Irfan',
  'age': 28,
  'uid': 3209,
  'Education': 'Alevels'},
 {'first name': 'Hammad',
  'last name': 'Imran',
  'age': 29,
  'uid': 3210,
  'Education': 'University'}]

In [42]:
print(database)

[{'first name': 'Hunain', 'last name': 'Irfan', 'age': 20, 'uid': 3201, 'Education': 'Alevels'}, {'first name': 'Hassan', 'last name': 'Imran', 'age': 23, 'uid': 3202, 'Education': 'Alevels'}, {'first name': 'Zain ', 'last name': 'Noman', 'age': 21, 'uid': 3203, 'Education': 'University'}, {'first name': 'Hamza', 'last name': 'Babar', 'age': 24, 'uid': 3204, 'Education': 'University'}, {'first name': 'Muneeb', 'last name': 'Akber', 'age': 19, 'uid': 3205, 'Education': 'Intermediate'}, {'first name': 'Hamza', 'last name': 'Anis', 'age': 24, 'uid': 3206, 'Education': 'Alevels'}, {'first name': 'Khizer', 'last name': 'Sohail', 'age': 27, 'uid': 3207, 'Education': 'University'}, {'first name': 'Ahmed', 'last name': 'Naeem', 'age': 24, 'uid': 3208, 'Education': 'Intermediate'}, {'first name': 'Usama', 'last name': 'Irfan', 'age': 28, 'uid': 3209, 'Education': 'Alevels'}, {'first name': 'Hammad', 'last name': 'Imran', 'age': 29, 'uid': 3210, 'Education': 'University'}]

In [54]:
for dictionaryy in database:
    if dictionaryy["age"] >=18:
        print(dictionaryy)

{'first name': 'Hunain', 'last name': 'Irfan', 'age': 20, 'uid': 3201, 'Education': 'Alevels'}
{'first name': 'Hassan', 'last name': 'Imran', 'age': 23, 'uid': 3202, 'Education': 'Alevels'}
{'first name': 'Zain ', 'last name': 'Noman', 'age': 21, 'uid': 3203, 'Education': 'University'}
{'first name': 'Hamza', 'last name': 'Babar', 'age': 24, 'uid': 3204, 'Education': 'University'}
{'first name': 'Muneeb', 'last name': 'Akber', 'age': 19, 'uid': 3205, 'Education': 'Intermediate'}
{'first name': 'Hamza', 'last name': 'Anis', 'age': 24, 'uid': 3206, 'Education': 'Alevels'}
{'first name': 'Khizer', 'last name': 'Sohail', 'age': 27, 'uid': 3207, 'Education': 'University'}
{'first name': 'Ahmed', 'last name': 'Naeem', 'age': 24, 'uid': 3208, 'Education': 'Intermediate'}
{'first name': 'Hammad', 'last name': 'Imran', 'age': 29, 'uid': 3210, 'Education': 'University'}

In [45]:
deleted_element = database.pop(8)

In [46]:
print(deleted_element)

{'first name': 'Usama', 'last name': 'Irfan', 'age': 28, 'uid': 3209, 'Education': 'Alevels'}

In [47]:
print(database)

[{'first name': 'Hunain', 'last name': 'Irfan', 'age': 20, 'uid': 3201, 'Education': 'Alevels'}, {'first name': 'Hassan', 'last name': 'Imran', 'age': 23, 'uid': 3202, 'Education': 'Alevels'}, {'first name': 'Zain ', 'last name': 'Noman', 'age': 21, 'uid': 3203, 'Education': 'University'}, {'first name': 'Hamza', 'last name': 'Babar', 'age': 24, 'uid': 3204, 'Education': 'University'}, {'first name': 'Muneeb', 'last name': 'Akber', 'age': 19, 'uid': 3205, 'Education': 'Intermediate'}, {'first name': 'Hamza', 'last name': 'Anis', 'age': 24, 'uid': 3206, 'Education': 'Alevels'}, {'first name': 'Khizer', 'last name': 'Sohail', 'age': 27, 'uid': 3207, 'Education': 'University'}, {'first name': 'Ahmed', 'last name': 'Naeem', 'age': 24, 'uid': 3208, 'Education': 'Intermediate'}, {'first name': 'Hammad', 'last name': 'Imran', 'age': 29, 'uid': 3210, 'Education': 'University'}]

In [51]:
student ={
    "first name" : "Usama",
    "last name" : "Haroon",
    "age"       :16,
    "uid"       :3209,
    "Education" :"Matric",
}

In [52]:
database.insert(8,student)

In [53]:
print(database)

[{'first name': 'Hunain', 'last name': 'Irfan', 'age': 20, 'uid': 3201, 'Education': 'Alevels'}, {'first name': 'Hassan', 'last name': 'Imran', 'age': 23, 'uid': 3202, 'Education': 'Alevels'}, {'first name': 'Zain ', 'last name': 'Noman', 'age': 21, 'uid': 3203, 'Education': 'University'}, {'first name': 'Hamza', 'last name': 'Babar', 'age': 24, 'uid': 3204, 'Education': 'University'}, {'first name': 'Muneeb', 'last name': 'Akber', 'age': 19, 'uid': 3205, 'Education': 'Intermediate'}, {'first name': 'Hamza', 'last name': 'Anis', 'age': 24, 'uid': 3206, 'Education': 'Alevels'}, {'first name': 'Khizer', 'last name': 'Sohail', 'age': 27, 'uid': 3207, 'Education': 'University'}, {'first name': 'Ahmed', 'last name': 'Naeem', 'age': 24, 'uid': 3208, 'Education': 'Intermediate'}, {'first name': 'Usama', 'last name': 'Haroon', 'age': 16, 'uid': 3209, 'Education': 'Matric'}, {'first name': 'Hammad', 'last name': 'Imran', 'age': 29, 'uid': 3210, 'Education': 'University'}]

In [55]:
for dictionaryy in database:
    if dictionaryy["Education"] == "Matric":
        print(dictionaryy)

{'first name': 'Usama', 'last name': 'Haroon', 'age': 16, 'uid': 3209, 'Education': 'Matric'}

In [56]:
for dictionaryy in database:
    if dictionaryy["Education"] == "Alevels":
        print(dictionaryy)

{'first name': 'Hunain', 'last name': 'Irfan', 'age': 20, 'uid': 3201, 'Education': 'Alevels'}
{'first name': 'Hassan', 'last name': 'Imran', 'age': 23, 'uid': 3202, 'Education': 'Alevels'}
{'first name': 'Hamza', 'last name': 'Anis', 'age': 24, 'uid': 3206, 'Education': 'Alevels'}

In [57]:
for dictionaryy in database:
    if dictionaryy["Education"] == "Intermediate":
        print(dictionaryy)

{'first name': 'Muneeb', 'last name': 'Akber', 'age': 19, 'uid': 3205, 'Education': 'Intermediate'}
{'first name': 'Ahmed', 'last name': 'Naeem', 'age': 24, 'uid': 3208, 'Education': 'Intermediate'}

In [58]:
for dictionaryy in database:
    if dictionaryy["Education"] == "University":
        print(dictionaryy)

{'first name': 'Zain ', 'last name': 'Noman', 'age': 21, 'uid': 3203, 'Education': 'University'}
{'first name': 'Hamza', 'last name': 'Babar', 'age': 24, 'uid': 3204, 'Education': 'University'}
{'first name': 'Khizer', 'last name': 'Sohail', 'age': 27, 'uid': 3207, 'Education': 'University'}
{'first name': 'Hammad', 'last name': 'Imran', 'age': 29, 'uid': 3210, 'Education': 'University'}

In [59]:
for dictionaryy in database:
    if dictionaryy["uid"] >= 3202 and dictionaryy["uid"] <= 3206:
        print(dictionaryy)

{'first name': 'Hassan', 'last name': 'Imran', 'age': 23, 'uid': 3202, 'Education': 'Alevels'}
{'first name': 'Zain ', 'last name': 'Noman', 'age': 21, 'uid': 3203, 'Education': 'University'}
{'first name': 'Hamza', 'last name': 'Babar', 'age': 24, 'uid': 3204, 'Education': 'University'}
{'first name': 'Muneeb', 'last name': 'Akber', 'age': 19, 'uid': 3205, 'Education': 'Intermediate'}
{'first name': 'Hamza', 'last name': 'Anis', 'age': 24, 'uid': 3206, 'Education': 'Alevels'}

In [60]:
for dictionaryy in database:
    if dictionaryy["last name"] == "Imran":
        print(dictionaryy)

{'first name': 'Hassan', 'last name': 'Imran', 'age': 23, 'uid': 3202, 'Education': 'Alevels'}
{'first name': 'Hammad', 'last name': 'Imran', 'age': 29, 'uid': 3210, 'Education': 'University'}

In [62]:
for dictionaryy in database:
    if dictionaryy["last name"] == "Irfan":
        print(dictionaryy)

{'first name': 'Hunain', 'last name': 'Irfan', 'age': 20, 'uid': 3201, 'Education': 'Alevels'}

In [66]:
for dictionaryy in database:
    if dictionaryy["age"] < 18:
        print(dictionaryy)

{'first name': 'Usama', 'last name': 'Haroon', 'age': 16, 'uid': 3209, 'Education': 'Matric'}