In [2]:
kilometre = int(input("Enter the distance covered " ))
if kilometre <=10:
    bill = kilometre * 11
    print(bill)
elif kilometre > 10 and kilometre <= 100:
    bill = kilometre * 10
    print(bill)
elif kilometre > 100:
    bill = kilometre * 9
    print(bill)

Enter the distance covered 90
900

In [3]:
english = int(input("Enter english Marks " ))
maths = int(input("Enter maths Marks " ))
science = int(input("Enter science Marks " ))
social = int(input("Enter social Marks " ))

if english > 80 and maths > 80 and science > 80 and social > 80:
    print("Subject is Science")

Enter english Marks 90
Enter maths Marks 90
Enter science Marks 90
Enter social Marks 90
Subject is Science

In [4]:
#list

In [5]:
students = ["Ali","Hunain","Irfan","Hamza"]

In [6]:
print("Welcome " + students[1])

Welcome Hunain

In [7]:
#appendingData

In [8]:
students = []

students.append("Ahmed")

In [9]:
print(students)

['Ahmed']

In [10]:
students = []

In [11]:
students.append("Hunain")

In [12]:
print(students)

['Hunain']

In [13]:
students.insert(2,"Ali")

In [14]:
print(students)

['Hunain', 'Ali']

In [15]:
students.insert(1,"Rahim")

In [16]:
print(students)

['Hunain', 'Rahim', 'Ali']

In [17]:
students.append("Hassan")

In [18]:
print(students)

['Hunain', 'Rahim', 'Ali', 'Hassan']

In [19]:
students = []

In [20]:
name = input("Enter Student Name ")
students.append(name)
print(students)

Enter Student Name Ali
['Ali']

In [21]:
cities = []

In [25]:
cityName = input("Enter City Name " )
cities.append(cityName)
print(cities)

Enter City Name Malaysia
['Pakistan', 'India', 'Ukraine', 'Malaysia']

In [28]:
print(cities[0] +" vs "+ cities[1])

Pakistan vs India

In [31]:
cities.insert(2,"Turkey")
print(cities)

['Pakistan', 'India', 'Turkey', 'Ukraine', 'Malaysia']

In [61]:
cities.insert(0,"Estonia")
print(cities)

['Estonia']

In [62]:
#getting Data

In [65]:
cities.append("Pakistan")
print(cities)

['Estonia', 'Pakistan', 'Pakistan']

In [66]:
cities.append("India")

In [67]:
print(cities)

['Estonia', 'Pakistan', 'Pakistan', 'India']

In [68]:
cities[:2]

['Estonia', 'Pakistan']

In [69]:
cities.append("Australia")
print(cities)

['Estonia', 'Pakistan', 'Pakistan', 'India', 'Australia']

In [70]:
del cities[3]

In [71]:
print(cities)

['Estonia', 'Pakistan', 'Pakistan', 'Australia']

In [72]:
cities.remove("Pakistan")

In [73]:
print(cities)

['Estonia', 'Pakistan', 'Australia']

In [74]:
cities.append("Africa")

In [75]:
cities.insert(1,"America")

In [76]:
print(cities)

['Estonia', 'America', 'Pakistan', 'Australia', 'Africa']

In [77]:
cities[0:3]

['Estonia', 'America', 'Pakistan']

In [78]:
print(cities)

['Estonia', 'America', 'Pakistan', 'Australia', 'Africa']

In [79]:
deleted_element = cities.pop(1)

In [80]:
print(cities)

['Estonia', 'Pakistan', 'Australia', 'Africa']

In [82]:
print(deleted_element)

America

In [90]:
names = ("Ali","Hunain","Hamza","Hammad","Hassan","Hussain")
print(names)

('Ali', 'Hunain', 'Hamza', 'Hammad', 'Hassan', 'Hussain')

In [ ]:
#append
#insert
#slicing with index number(getting data)
#remove
#del
#pop
#tuples
#{}